@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeRight {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% - 21rem);
  }
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
